.mainCard {

    max-width: 1100px;
    min-width: 600px;
    height: auto;
    min-height: 60vh;
    margin:  auto;

    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-column-gap: 0;
    grid-gap: 10px 0;
    margin-top: 20px;
    margin-bottom: 20px;

}

.divOpt {
    background-color: var(--purple-base);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    
    .optFilter {
        margin: 20px auto;
        width: 45%;
        height: auto;
        display: flex;
        justify-content: center;
    }
    #searchGame{
        width: 30vw;
        max-width: 330px;
        min-width: 200px;
        height: 40px;
        padding-left: 15px;
        border: none;
    }

    .filterBtn {
        width: 65px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: none;
        cursor: pointer;
        background-color: white;
    }

    .filterBtn:hover{
        background-color: rgb(39, 3, 107);
        color: white;
        transform: scale(1.2);
    }
    .options {
        margin-bottom: 15px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        button {
            min-width: 30px;
            padding: 5px;
            margin: 2px;
            background-color: transparent;
            color: white;
            border-radius: 3px;
            font-size: 40%;
            
            background-image: linear-gradient(45deg, #ffffff 50%, transparent 50%);
            background-position: 100%;
            background-size: 400%;
            -webkit-transition: background 300ms ease-in-out;
            transition: background 300ms ease-in-out;
            border: 1px rgb(11, 0, 32) solid;
        }
        button:hover {
            border: 1px solid white;
            cursor: pointer;
            background-position: 0;
            color: #023e8a;
        }
        .moreFilter {
            margin: 0 auto;
            margin-top: 20px;
        }
        .btnSelect {
            background-color: white ;
            color: rgb(81, 0, 231);
        }
    }

    .baseColor{
        background-color: rgb(39, 3, 107);
        color: white;
        transform: scale(1.2);
    }
}

.fixedInTop {
    position: fixed;
    z-index: 100;
    top: 0;
}
.divLoader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 82.6vh;
    font-size: 30%;
    color: silver;
}
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 82.6vh;
    font-size: 40%;
    color: silver;

    img {
        margin-bottom: 10px;
        width: 100px;
    }
}

.orderby {
    width: 30px;
    height: 25px;
    fill: white;
    margin-left: 10px;
    margin-top: auto;
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}
.orderOpt:hover {
    display: flex;
}
.orderby:hover+.orderOpt{
    display: flex;
}

.orderOpt {
    display: none;
    flex-direction: column;
    height: auto;
    position: absolute;
    background: rgb(231, 231, 231);
    margin-left: 20px;
    margin-top: -10px;
    padding: 5px;
    border-radius: 0 10px 10px 10px;

    
    li {
        height: 20px;
        font-size: 35%;
        padding: 5px;
        display: flex;
        align-items: center;
        transition-property: opacity, left;
        &:hover {
            background-color: var(--purple-base);
            transition: 1s;
            cursor: pointer;
            display: flex;
            color: white;
        }
    }
}