.toTop {
    position: fixed;
    right: 3%;
    bottom:  20px;
    width: 7%;
    height: 7%;
    fill: #7b1aa16c;
    z-index: 200;
    &:hover {
        transform: scale(1.03);
        cursor: pointer;
        fill: #7b1aa1;
    }
}