.orderby {
    width: 30px;
    height: 25px;
    fill: white;
    margin-left: 10px;
    margin-top: auto;
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
}
.orderOpt:hover {
    display: flex;
}
.orderby:hover+.orderOpt{
    display: flex;
}

.orderOpt {
    display: none;
    flex-direction: column;
    height: auto;
    position: absolute;
    background: rgb(231, 231, 231);
    margin-left: 20px;
    margin-top: -10px;
    padding: 5px;
    border-radius: 0 10px 10px 10px;

    
    li {
        height: 20px;
        font-size: 35%;
        padding: 5px;
        display: flex;
        align-items: center;
        transition-property: opacity, left;
        &:hover {
            background-color: var(--purple-base);
            transition: 1s;
            cursor: pointer;
            display: flex;
            color: white;
        }
    }
}