
.mainStars{
    display: flex;
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: space-;

}
.choiceStars {
    display: none;
    width: 40%;
}
.star {
    width: 15%;
    min-width: 15px;
    height: auto;
    fill: silver;
}

.sSelected {
    fill: var(--star);
    cursor: pointer;
}

.show {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.out {
    display: none;
}